body, html {
  height: 100%;
}

body {
  background-image: url("../images/cloud_bkgr_large.jpeg");
  background-color: #a3e2ff;
  overflow: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}


/* header style */
header {
  padding: 6px 50px;
  background-color: #424242;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  } 

/* header text style */
header h1 {
  font-weight: lighter;
  font-size: 25px;
  color: rgb(199, 197, 199);
  margin: 0;
}

h2 {
    font-size: 50px;
    position: static;
    left: 50px;
    font-weight: bolder;
    color: #424242;
}

.button {
    background-color: #3ea6cf;
    border: none;
    color: rgb(225, 231, 220);
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 12px 56px;
    cursor: pointer;
    border-radius: 8px;
  }

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  font-weight: 500;
  text-align: center;
 
}

.centered img {
  width: 150px;
  border-radius: 0%;
}


/* link to search page*/
a {
  color: rgb(247, 248, 247);
}
a:hover {
  color: #3344dd;
}
/* ignore this still refactoring */


    @media screen and (min-width: 768px) {
      h1 {
        font-size: 3rem;
      }
    }
    
    h2 {
        font-size: 50px;
        position: static;
        left: 50px;
        font-weight: bolder;
    }
    
  
    .button {
        background-color: #3ea6cf;
        border: none;
        color: white;
        padding: 20px 50px;
        text-align: center;
        text-decoration: none;
        display: center;
        font-size: 16px;
        margin: 50px 50px;
        cursor: pointer;
      }
    
    .centered {
      position: static;
      font-weight: 50;
     
    }
    

    