/* 
 * GENERAL
 */


/* set page background to light blue */
/* add scrollbar if page content overflows  */
/* add responsive background image */
body {
  background-color: #a3e2ff;
  overflow: auto;
  background-image: url("../images/cloud_bkgr_med.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

/* make materialize container wider than default */
.container {
  width: 95%;
}

/* 
 * HEADER
 */

/* make header background dark gray */
header {
  padding: 6px 50px;
  background-color: #424242;
  text-align: center;
}

/* make header text gray and lightweight */
header h1 {
  font-weight: lighter;
  font-size: 25px;
  color: rgb(199, 197, 199);
  margin: 0;
}

/* 
 * TOP PANEL
 */

/* add space above search input row */
#search-input-row {
  margin-top: 20px;
}
/* style search box */
#zip-code-text {
  background-color: #fafafa;
  width: 130px;
  margin-right: 10px;
}

/* style search button */
#search-button {
  background-color: #4caf50;
  font-size: 18px;
  margin-bottom: 4px;
}

/* style search instructions */
h1 {
  font-size: 2rem;
  color: #424242;
  font-weight: 500;
  line-height: normal;
}

#map {
  overflow:hidden;
  position:relative;
  padding-bottom:50%;
  height: 100%;

}

/* 
 * BOTTOM PANEL
 */

 /* make bottom panel flex container */
 /* put children in a row and align center */
#bottom-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sidebar {
  display: none;
}

/* change flex direction to column on small screens */
/* increase body height on small screens */
/* - this will make background image take full height on small screens */
@media screen and (max-width: 768px) {
  #bottom-panel {
    flex-direction: column;
  }
  body {
    height: 175vh;
  }
}

/* increase font size on medium screens */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}